{% extends "base.html"%}{% block title %}Home{% endblock %}
{% block content %}
  <center>
        <img id="logo" src="{{url_for('static', filename='logo.png')}}" heigh="150" width="200" ><br>

<table>
    <tr>
         {% for note in user.notes %}
    <td class="post-it">
    <p class="note"> <b>{{note.title}}</b>        <button type="button" class="close" onclick="deleteNote({{note.id}})">
            <span aria-hidden="true"> &times; </span>
        </button>
        </br>{{ note.data}}

    </p>
    </td>
    </tr>
    {% endfor %}
</table></center>
</br>
<form method="POST">
     <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      placeholder="Enter title"
    />
    </br>
    <textarea name="note" id="note" class="form-control" placeholder="Enter note">
    </textarea>
    </br>
    <div align="center">
        <button type="submit" class="btn btn-light">
            Add Note
        </button>
    </div>
</form>
{% endblock %}