{% extends "base.html"%}{% block title %}Login{% endblock %}
{% block content %}

<div class="container-login100">
<div class="wrap-login100">
  <img src="logo.png">
<form class="login100-form validate-form" method="POST">

<div class="wrap-input100 validate-input" >
  <input
      type="email"
      class="input100"
      id="email"
      name="email"
      placeholder="Enter email"
    />
</div>
<div class="wrap-input100 validate-input" >
   <input
      type="password"
      class="input100"
      id="password"
      name="password"
      placeholder="Enter password"
    />

</div>
<div class="container-login100-form-btn">
<div class="wrap-login100-form-btn">
<div class="login100-form-bgbtn"></div>
<button class="login100-form-btn">
Login
</button>
</div>
</div>
</form>
</div>
</div>



{% endblock %}