{% extends "base.html"%}{% block title %}Sign-up{% endblock %}
{% block content %}

<div class="container-login100">
<div class="wrap-login100">
    <center>
        <img id="logo" src="{{url_for('static', filename='logo.png')}}" heigh="150" width="200" ><br>
    </center>

<form class="login100-form validate-form" method="POST">

<div class="wrap-input100 validate-input" >
  <input
      type="email"
      class="input100"
      id="email"
      name="email"
      placeholder="Enter email"
    />
</div>
  <div class="wrap-input100 validate-input" >
  <input
      type="text"
      class="input100"
      id="firstName"
      name="firstName"
      placeholder="Enter first name"
    />
  </div>
  <div class="wrap-input100 validate-input" >
  <input
      type="password"
      class="input100"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
</div>
<div class="wrap-input100 validate-input" >
   <input
      type="password"
      class="input100"
      id="password2"
      name="password2"
      placeholder="Enter password"
    />

</div>
<div class="container-login100-form-btn">
<div class="wrap-login100-form-btn">
<div class="login100-form-bgbtn"></div>
<button class="login100-form-btn">
Submit
</button>
</div>
</div>
</form>
</div>
</div>
{% endblock %}